  

  
 .localisation{
     
     
     &_btn{
            margin: auto;
            width: fit-content;
            background: linear-gradient(#ff79da, #9356dc);
            box-shadow: 0px 5px 15px -10px;
            border-radius: 30px;
            padding: 15px;
            margin-top: 45px;
            font-size: 14px;
            color: #fff;
    
             
        /*
         
          @include boutton;
        @media(max-width:459px) {
                @include boutton-telephone;
        
            }
                         @media(max-width:769px) {
                             @include boutton-tablette;
            
                         }
                         */
     }
      
 }