
 .localisation{
    &_btn{
        margin: 140px;
        width: 57%;
        background: $btn_background;
        box-shadow:$btn_box-shadow;
        border-radius: 30px;
        padding: 10px;
        margin-left: 64px;
        margin-top: 45px;
        font-size: 15px;
        color: $couleur-blanche;
     }
     &_btn:hover{
        background: $btn_background_hover;
         box-shadow:$btn_box-shadow_hover;
        transition: 0.2s;
        cursor: pointer;
     } 
 }
@media only screen and (min-width: 763px) {
    .localisation {
        position: relative;
        &_btn {
            width: 22%;
            margin-left: 26em;
        }
    }

}

 @media only screen and (min-width: 992px) {
    .localisation{
        position: relative;
        &_btn {
            width: 15%;
            margin-left: 40em;
        }
    }
    
 }