body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.7;
    margin: 0;
    padding: 0; 
}
h1{
    font-weight: bold;
    font-family: "Shrikhand",sans-serif;
}

h2, h4 {
   
    font-size: 1.4em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}
p{
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}
a{
    font-family: 'Roboto',sans-serif;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75em;
}
 