  
 /* ANIMATIONS FOR LETTERS */
 /*
.loader {
    background: linear-gradient(#ff79da, #9356dc);
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    animation: load 0.5s none 3s;
    animation-fill-mode: forwards;
    -webkit-animation: fin_animation 3s forwards;
    animation: fin_animation 3s forwards;
    inset: 0px;
    z-index: 20;
    margin: auto;
    height: auto;
      
       
} 
.lettre {
    color: black;
    font-size: 80px;
    letter-spacing: 5px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;   
}
@keyframes fin_animation {
    0% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
        visibility: visible;
    }

    80% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 1;
        visibility: hidden;
    }
}
.lettre {
    color: black;
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 150px;
    margin-left: 20px;
    animation: flash 1.2s linear infinite;
}
@keyframes flash {
    0% {
        color: #9356dc;
        text-shadow: 0 0 7px #9356dc;
    }

    90% {
        color: black;
        text-shadow: none;
    }

    100% {
        color: #9356dc;
        text-shadow: 0 0 7px #9356dc;
    }
 } 

 .lettre:nth-child(1) {
   animation-delay: 0.1s;
 }

 .lettre:nth-child(2) {
    animation-delay: 0.2s;
 }

 .lettre:nth-child(3) {
    animation-delay: 0.3s;
 }

 .lettre:nth-child(4) {
   animation-delay: 0.4s;
 }

 .lettre:nth-child(5) {
   animation-delay: 0.5s;
 }

 .lettre:nth-child(6) {
    animation-delay: 0.6s;
 }

 .lettre:nth-child(7) {
    animation-delay: 0.7s;
 }

 .lettre:nth-child(8) {
    animation-delay: 0.8s;
 }
 */

 /*ANIMATIONS FOR SPINNER*/
 .loader .loader-spinner {
    display: block;
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin-left: 50px;
    border: 6px solid transparent;
    border-top-color: #9356dc;
    animation: spinner 2s linear infinite;
 }

 .loader .loader-spinner::before {
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    -webkit-animation: spinner 3s linear infinite;
    animation: spinner 3s linear infinite;
 }
 @keyframes spinner {
     0% {
        transform: rotate(0deg);
    }

     100% {
        transform: rotate(360deg);
    }
 }  
  

  