.menu{
    width:$width_cent;
    height: auto;
    position: relative;
    animation: appear 1s;
    & h3 {
        margin-left: -16px;
        margin-top: -17px;
        font-size: 14px;   
    }
    & p{
        margin-left: -16px;
        margin-top: -2px;
        font-size: 12px;
        color: $coleur-gris;
    }
    & h2{
        color:$coleur-gris;
    }
    & img{
        width: 99.8%;
        height: 190px;
        margin-left: 0px;
        object-fit: cover;
        border-radius:  2px;
    }
    &_titre{
        margin-top: -17px;
        margin-left: -15px;
    }
    &_nom{
        width:$width_cent;
        position: relative;
        margin-top: -0.8em; 
    }
    &_description{
        width:$width_cent;
        height: 99em;
        margin-left: 0px;
        text-align: left;
        border-radius: 40px 40px 1px 1px;
        background-color: $couleur-fond;
        margin-top: -5em;
        padding: 29px;
        position: relative;
        .fa-regular{
            cursor: pointer;
        } 
        .fa-regular::before{
            position: absolute;
            margin-left: 259px;
            margin-top: -40px;
            font-size: 20px;
            cursor: pointer;
        }
        .fa-regular:hover{
            opacity: 0;
             
        }
        .fa-sharp{
            font-size: 20px;
            cursor: pointer;  
            opacity: 0;
        }
        .fa-sharp::before{
            position: absolute;
            margin-left: 256px;
            margin-top: -40px;
            cursor: pointer;
        }
        .fa-sharp:hover{
            opacity: 1;
            color: $couleur-boutton;
        } 
         
    } 
    .entree{
        animation: appear 1s;
        width:$width_menu_entree_plat_dessert;
        height:$height_menu_entree_plat_dessert;
        margin-left: -30px;
        margin-top: -30px;
        position: relative;
        &_note{
            height: 21%;
        }
        &_lesEntrees{
            width: 12%;
            position: relative;
            margin-top: 17px;
            border-bottom: 4px solid $colour-verte;
            margin-left: 15px;
            transition: .2s;
            animation: menu-annimation 2s; 
            
        }
        &_nos-entrees{
            @include menu_entree_plat_dessert;
            margin-left: 9px;
            margin-top: 10px;
            background-color: $couleur-blanche;
            transition: .2s;
            animation: menu-annimation 2s;
            overflow: hidden; 
            
        }
        & input{
            margin-left: 27em;
            margin-top: -1.9em;
            position: absolute;
        }
        & i{
            @include menu_input;
            background-color:$background-color_checkbox;
            opacity: 0; 
        }
        .padding {
            padding: $padding_menu;
            border-radius: $border-raduis_menu;
            
        }
        .center {
            position: absolute;
            right: 90em;
            margin-left: 0px;
            padding: 2.3em 0px;
            top: -19px;
            opacity: 0;          
        }
        &_nos-entrees:hover .center {
            animation: rotate 0.5s;
            @include nos_entrees_nosplats_nos_desser_hover-center;
            opacity: 1;
        }
        &_nos-entrees:hover .padding {
            animation: translate 0.5s;
            @include nos_entrees_nosplats_nos_desser_hover-center;
        }
        &_nos-entrees:hover p,
        &_nos-entrees:hover h3 {
            animation: cut 0.5s;
            animation-fill-mode: forwards;
        }
        &_nos-entrees:not(:hover).center {
            animation: rotate-out 0.5s;
            @include nos_entrees_nosplats_nos_desser_hover-center;
        }
        &_nos-entrees:not(:hover).padding {
            animation: rotate-out 0.5s;
            @include nos_entrees_nosplats_nos_desser_hover-center;
        }
        &_nos-entrees:not(:hover)p,
        &_nos-entrees:not(:hover)h3 {
            @include animation_menu_h3_p;
            animation: uncut 0.5s;
        }
        & i::before{
            position: absolute;
            top:49px;
            margin-left: 18px;
            color:$couleur-blanche;
            
        }
        & span{
            margin-left: 14.6em;
            position: absolute;
            margin-top: -25px;
        }
       
    }
    .plat{
        width: $width_menu_entree_plat_dessert;
        height: $height_menu_entree_plat_dessert;
        margin-top:20px;
        margin-left: -30px;
        &_note{
            margin-top: 138px;
        }
        &_francaise{
            margin-top: -57px;
        }
        &_leplat{
            width: 10%;
            position: relative;
            margin-top: 17px;
            border-bottom: 4px solid $colour-verte;
            transition: .3s;
            margin-left: 15px;
            animation: menu-annimation 6s;

        }
        &_nos-plat{
            margin-top: 17px;
            background-color: $couleur-blanche;
            transition: .3s;
            animation: menu-annimation 6s;
            margin-left: 20px;
            @include menu_entree_plat_dessert;
        
        }
        & input {
            margin-left: 27em;
            margin-top: -1.9em;
            position: absolute;
        }
        & i {
            @include menu_input;
            background-color:$background-color_checkbox;
            opacity: 0;
        }
        .padding{
            padding: $padding_menu;
            border-radius: $border-raduis_menu;
        }
        .center{
            position: absolute;
            right: -11px;
            margin-left: -0px;
            padding: 2.3px 0px;
            top:0px;
            opacity: 0;
        }
        &_nos-plat:hover .center{
            animation: rotate 0.5s;
            @include nos_entrees_nosplats_nos_desser_hover-center;
            opacity: 1;
        }
        &_nos-plat:hover .padding{
            animation: translate 0.5s;
            @include nos_entrees_nosplats_nos_desser_hover-center;
        }
        &_nos-plat:hover p, &_nos-plat:hover h3{
            animation: cut 0.5s;
            animation-fill-mode: forwards;
        }
        &_nos-plat:not(:hover).center{
            animation: rotate-out 0.5s;
            @include nos_entrees_nosplats_nos_desser_hover-center;
        }
        &_nos-plat:not(:hover).padding {
            animation: rotate-out 0.5s;
            @include nos_entrees_nosplats_nos_desser_hover-center;
        }
        &_nos-plat:not(:hover)p,
        &_nos-plat:not(:hover)h3{
            @include animation_menu_h3_p;
            animation: uncut 0.5s;
        }
        & i::before {
            position: absolute;
            top: 30px;
            margin-left: 18px;
            color: $couleur-blanche;
            }
        & span {
            margin-left: 14.6em;
            position: absolute;
            margin-top: -25px;
        }

    }
    .dessert{
        width: $width_menu_entree_plat_dessert;
        height: $height_menu_entree_plat_dessert;
        margin-left: -29px;
        margin-top: 20px;
        &_francaise{
            margin-top: 30px;
        }
        &_note{
            margin-top: 35px;
        }
        &_les-dessert{
            width: 11%;
            position: relative;
            margin-top: -5em;
            border-bottom: 4px solid $colour-verte;
            margin-left: 15px;
            transition: .3s;
            animation: menu-annimation 9s;
        }
        &_nos-dessert {
            transition: .3s;
            animation: menu-annimation 9s;
            background-color: $couleur-blanche;
            margin-left: 20px;
            @include menu_entree_plat_dessert;
        }
            
        & input {
            margin-left: 27em;
            margin-top: -1.9em;
            position: absolute;
        
        }
        & i {
            @include menu_input;
            background-color:$background-color_checkbox;
            opacity: 0;
        }
        .padding {
            padding: $padding_menu;
            border-radius: $border-raduis_menu;
        }
        .center {
            position: absolute;
            right: -11px;
            margin-left: -0px;
            padding: 2.3px 0px;
            top: 0px;
            opacity: 0;
        }
        &_nos-dessert:hover .center {
            animation: rotate 0.5s;
            @include nos_entrees_nosplats_nos_desser_hover-center;
            opacity: 1;
        }
        &_nos-dessert:hover .padding {
            animation: translate 0.5s;
            @include nos_entrees_nosplats_nos_desser_hover-center;
        }
        &_nos-dessert:hover p,
        &_nos-dessert:hover h3 {
            animation: cut 0.5s;
            animation-fill-mode: forwards;
        }
        &_nos-plat:not(:hover).center {
            animation: rotate-out 0.5s;
            @include nos_entrees_nosplats_nos_desser_hover-center;
        }
        &_nos-dessert:not(:hover).padding {
            animation: rotate-out 0.5s;
            @include nos_entrees_nosplats_nos_desser_hover-center;
        }
        &_nos-dessert:not(:hover)p,
        &_nos-dessert:not(:hover)h3 {
            @include animation_menu_h3_p;
            animation: uncut 0.5s;
        } 
        & i::before {
            position: absolute;
            top: 30px;
            margin-left: 18px;
            color: $couleur-blanche;
        }
            
        & span {
            margin-left: 14.6em;
            position: absolute;
            margin-top: -25px;
        }

    }
}

/*medias queries version tablette*/
 @media only screen and (min-width:768px) {
     .menu{
        position: relative;
         
        
        & h3,p 
        {
            font-size: 14px;
        }
        & img {
            width:$width_cent;
            height: 290px;
            margin-left: 0px;
            object-fit: cover;
        }
        &_description {
            width: $width_cent;
            height: 50%;
            margin-left: 0px;
             
        }
        .fa-regular{
            margin-left: 599px;
        }
        &_titre{
            margin-left: 15px;     
        }
       .entree{
            position: relative;
            width: 99%;
            height: 20%;
            margin-left: -10px;
            &_lesEntrees {
                width: 5%;  
                margin-left: 25px;
            }
            &_nos-entrees {
                width: 45%;
                height: 82px;
                display: inline-block;
                margin-top: 17px;
                margin: 20px;  
            }
            & span {
             margin-left: 18em;
            
            }
            & i::before {
                position: absolute;
                top: 58px;
                margin-left: 25px;
                color: $couleur-blanche;
            }

        }
        .plat {
            width: 99%;
            height: 20%;
            margin-top: -20px;
            margin-left: -10px;
            &_leplat {
                width: 4%;
                margin-left: 25px;
            }
            &_nos-plat {
                width: 45%;
                height: 90px;
                display: inline-block;
                margin-top: 17px;
                margin: 20px;
            }
            & span {
                margin-left: 18em;
           }
           & i::before {
                position: absolute;
                top: 47px;
                margin-left: 25px;
                color: $couleur-blanche;
            }
           
        }
        .dessert {
            width: 99%;
            height: 20%;
            margin-left: -10px;
            margin-top: 70px;
            &_les-dessert {
                width: 4%;
                margin-left: 25px;
            }
            &_nos-dessert {
                width: 45%;
                height: 90px;
                display: inline-block;
                margin-top: 17px;
                margin: 20px;
            }   
            & span {
               margin-left: 18em;
            
            }
            & i::before {
                position: absolute;
                top: 47px;
                margin-left: 25px;
                color: $couleur-blanche;
            }
        }
    }
}

/*medias queris version orditeur*/
@media only screen and (min-width:992px) {
    .menu{
         
        & h3,p
        {
           font-size: 15px;
        }
        & img{
           object-fit: cover;
            width:$width_cent;
            height: 450px;
            margin-left: 0;
        }
        &_titre {
            margin-top: -12px;
            margin-left: 18px;
            font-size: 22px; 
        }
        &_nom {
            width:$width_cent;
            position: relative;
            margin-top: -0.8em;
        }
        &_description {
            width: $width_cent;
            height: 99%;
            left: 0;
            position: relative;
            .fa-regular {
                margin-left: 73%;
                margin-top: 40px;   
            }
        }
        .entree {
            width: auto;
            height: 20%;
            position: relative;
            margin-top: -80px;
            &_lesEntrees {
                width: 5%;
                margin-top: 40px;
                font-size: 18px;
            }
            &_nos-entrees {
                width: 28%;
                margin: 20px;
                margin-top: 2em;
            } 
            & i {
                margin-left: 15em;
                
            }
            & span {
                margin-left: 18em;
                position: absolute;
            }
        }
        .plat {
            width: auto;
            height: 12%;
            margin-top: 2px;
            
            &_leplat {
                width: 3%;
                font-size: 18px;
            }
            &_nos-plat {
                width: 28%;
                margin: 29px;
            }                
            & i{
                margin-left: 15em;
            
            }
            & span {
                margin-left: 18em;
                position: absolute;
                margin-top: -1.7em;
            }
            
        }
        .dessert {
            width: auto;
            height: 280px;
            margin-top: 105px;
            &_les-dessert {
                width: 5%;
                font-size: 18px;
            }
            &_nos-dessert {
                width: 28%;
                margin: 29px;
            }
        
            & i {
                margin-left: 15em;
                                
            }
            & span {
                margin-left: 18em;
                position: absolute;
                margin-top: -1.9em;
            }
        }
    }

}

 
       