.menu{
    width: 100%;
    height: auto;
    position: relative;
    & img{
        width: 70%;
        height: auto;
        margin-left: 5em;
        border-radius: 20px 20px 1px 1px;
         
        
        
    }
     
    &_titre{
        margin-top: -10px;
         
    }
    &_nom{
        width: 100%;
         position: relative;
        margin-top: -0.8em;
         
    }
    &_description{
        width: 75%;
        height: auto;
        margin-left: 4em;
        text-align: left;
         padding: 29px;
        border-radius: 40px 40px 1px 1px;
        background-color: $couleur-fond;
         
        
        .fa-regular{
            color:none;
        }
        .fa-regular:hover{
            color:$premier-couleur
        }
         
    }
    &_aime{
        margin-left: 24em;
        margin-top: -2em;
        
        
    }
    .entree{
        &_lesEntrees{
            width: 25%;
            position: relative;
            margin-top: 17px;
            border-bottom: 4px solid $colour-verte;
            transition: .2s;
             animation: menu-annimation 2s;
        }
        &_nos-entrees{
            width: 76%;
            height: 80px;
             border-radius: 20px;
             padding: 10px;
             font-size: 15px;
             position: relative;
             margin-top: 15px;
             background-color: $couleur-blanche;
             margin-left: 30px;
            transition: .2s;
            animation: menu-annimation 2s;
            cursor: pointer;
              
              
             
        }
        &_nos-entrees:not(:hover){
               animation-timing-function: ease-in-out;
                -webkit-animation-timing-function: ease-in-out;
                animation: uncut 0.7s; 
                
                
        }
        & input{
            margin-left: 27em;
            margin-top: -1.9em;
            position: absolute;
             
        
        }
        & i{
            width: 18%;
            height: 100%;
             margin-left: 14em;
              position: absolute;
              top: -0em;
              padding: 24px;
              border-radius: 1px 15px 15px 1px;
              background-color: #99e2d0;
               
        }
        & i::before{
            position: absolute;
            top:39px;
            color: #fff;
        }
        & span{
            margin-left: 17em;
             position: absolute;
             margin-top: -1.6em;
             
        }
        
       
    }
    .plat{
        &_leplat{
            width: 17%;
            position: relative;
            margin-top: 17px;
            border-bottom: 4px solid $colour-verte;
            transition: .3s;
            animation: menu-annimation 6s;
        }
        &_nos-plat{
                width: 76%;
                height: 80px;
                border-radius: 20px;
                padding: 10px;
                font-size: 15px;
                position: relative;
                margin-top: 17px;
                background-color: $couleur-blanche;
                margin-left: 30px;
                transition: .3s;
                animation: menu-annimation 6s;
                cursor: pointer;
        
        
            }

        
            & input {
                margin-left: 27em;
                margin-top: -1.9em;
                position: absolute;
        
            }
                         & i {
                             width: 18%;
                             height: 100%;
                             margin-left: 14em;
                             position: absolute;
                             top: -0em;
                             padding: 24px;
                             border-radius: 1px 15px 15px 1px;
                             background-color: #99e2d0;
                         }
            
                         & i::before {
                             position: absolute;
                             top: 39px;
                             color: #fff;
                         }
                           & span {
                                  margin-left: 17em;
                                 position: absolute;
                                 margin-top: -1.6em;
                                 
                                }

    }
    .dessert{
        &_les-dessert{
            width: 29%;
             position: relative;
             margin-top: 17px;
             border-bottom: 4px solid $colour-verte;
            transition: .3s;
            animation: menu-annimation 9s;
              
        }
        &_nos-dessert {
                width: 76%;
                height: 80px;
                border-radius: 20px;
                padding: 10px;
                font-size: 15px;
                position: relative;
                margin-top: 20px;
                background-color: $couleur-blanche;
                margin-left: 30px;
                transition: .3s;
                animation: menu-annimation 9s;
                cursor: pointer;
        
        
            }
            
        
            & input {
                margin-left: 27em;
                margin-top: -1.9em;
                position: absolute;
        
            }
                          & i {
                              width: 18%;
                              height: 100%;
                              margin-left: 14em;
                              position: absolute;
                              top: -0em;
                              padding: 24px;
                              border-radius: 1px 15px 15px 1px;
                              background-color: #99e2d0;
                          }
            
                          & i::before {
                              position: absolute;
                              top: 39px;
                              color: #fff;
                          }
            
                          & span {
                              margin-left: 17.5em;
                              position: absolute;
                              margin-top: -1.6em;
                               
                          }

    }
}

/*.menu{
      
    & img{
        @include menu-image;
        @media (max-width:769px) {
                 width: 720px;
                 margin-left: 0.2em;
        
        
            }
        @media (max-width:459px) {
                @include image-menu_telephone;
        
        
            }

    }
    .nom {
        font-size: 0.9em;
        @media (max-width:769px) {
                width: 111%; 
                margin-left: -0.4em;
            }
        &_description{
            @include nom_description_menu;
        }
        &_titre {
            margin-left: 0em;
            margin-top: 0.5em;
             font-size: 1.6em;
            
         
         @media (max-width:459px) {
                margin-left: 0em;
             } 
        
         }
         & h2{
            @include nom_menu_h2;
             
            @media (max-width:459px) {
                 @include nom_menu_h2_telephonne;
                
            }
         }

    }
    .fa-heart{
         margin-left: 22em;
         position: absolute;
         margin-top: -1.6em;
          /*@media(max-width:459px) {
          margin-left: 22em;
         position: absolute;
          margin-top: -1.6em;
              }  
    
        }*/
    /*.fa-heart:hover {
         @include coeur-active;
             }
    .entree{
            transition: .3s;
            animation: menu-annimation 3s;
        
        &_lesEntrees{
               background-color: $couleur-fond;
                transition: .3s;
                animation: menu-annimation 3s;
                margin-top: $marge-top_menu;
                margin-bottom: $marge-botom_menu;
        }
        &_nos-entrees{
                transition: .3s;
                animation: menu-annimation 3s;
                 
                .input{
                    @include input_entree_plat_dessert;
                }
                                 & input {
                                     @include checkebox_ordi;
                                 }
                @media (max-width:459px) {
                   .input{
                     @include input_entrer_plat_desser_telephone;
                   }
                                        & input {
                                            @include checkebox_telephone;
                                        }
                    
                }
            
                .prix {
                        @include prix_entree_plat_dessert;
                    }
                
                    @include entre_plat_dessert;
                    @media (max-width:459px) {
                        @include entree_plat_dessert_telephone;
                        
                    }
                    
            
            }
        }
        
    }
            .plat {
                 transition: .3s;
                 animation: menu-annimation 6s;
                 //background-color: red;
                          
                &_leplat {
                     background-color: $couleur-fond;
                     transition: .3s;
                     animation: menu-annimation 6s;
                     margin-top: $marge-top_menu;
                     margin-bottom: $marge-botom_menu;
                    // @include titre_menu_plat_dessert;
                    
                     
                                
                  }
                                
                &_nos-plat {
                     
                        transition: .3s;
                        animation: menu-annimation 6s;
                        .input {
                                @include input_entree_plat_dessert;
                            }
                             & input{
                                @include checkebox_ordi;
                             }
                        
                            @media (max-width:459px) {
                                .input {
                                    @include input_entrer_plat_desser_telephone;
                                }
                                                                 & input {
                                                                     @include checkebox_telephone;
                                                                 }
                        
                            }
                         
                        .prix {
                             @include prix_entree_plat_dessert;
                             }
                             @include entre_plat_dessert;
                              @media (max-width:459px) {
                                      @include entree_plat_dessert_telephone;
                            
                                     }
                                
                         }
             }
            .dessert {
                    font-size: 1em;
                   // background-color: yellow;
                                                                
                     &_les-dessert {
                         background-color: $couleur-fond;
                         margin-top: $marge-top_menu;
                         margin-bottom: $marge-botom_menu;
                         transition: .3s;
                         animation: menu-annimation 9s;
                         // @include titre_menu_plat_dessert;
                        //@include titre_menu_plat_dessert;
                                                                
                                                                
                         }
                                                                
                     &_nos-dessert {
                         transition: .3s;
                         animation: menu-annimation 9s;
                        .input {
                                @include input_entree_plat_dessert;
                            }
                                                         & input {
                                                             @include checkebox_ordi;
                                                         }
                             
                        
                            @media (max-width:459px) {
                                .input {
                                    @include input_entrer_plat_desser_telephone;
                                }
                                                                 & input {
                                                                     @include checkebox_telephone;
                                                                 }
                        
                            }
                        .prix {
                               @include prix_entree_plat_dessert;
                             }
                             @include entre_plat_dessert;
                                 @media (max-width:459px) {
                                      @include entree_plat_dessert_telephone;
                            
                                      }
                        }
                    }
         
*/

       