@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* mise en page petit ecran*/
/*marge haute et marge bas des titre du menu*/
/**************************************/
/*les menus*/
/*les articles*/
/*****************************/
/* annimation des menus*/
@keyframes menu-annimation {
  from {
    transform: translateY(300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 0.1;
  }
}
/* .btn {
     &:active {
         &+.progress {
             &>.progress__bar {
                 transform: scaleX(1);
             }
         }
     }
 }

 .progress {
     &__bar {
         transform-origin: 0% 50%;
         transform: scaleX(0);
         transition: transform 1000ms cubic-bezier(.32, 0, .07, 1);
     }
 }*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

h1, h2, h4 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  font-style: italic;
}

p {
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75em;
}

.header {
  width: 100%;
  height: auto;
  position: relative;
  font-size: 15px;
  text-align: center;
  /*
      margin: $marge-header;
      font-size: 1.2em;
     // background-color: red;
      @media (max-width:769px) {
           // @include header_logo_tablette;



         }
      &_logo{
         text-align: center;
          @media (max-width:769px) {
                @include header_logo_tablette;
              background-color: red;



         @media (max-width:459px) {
               @include header_logo_telephone;


            }

      }
       &_localisation {
          @media (max-width:769px) {
              // @include header-locaisation_telephone;
               //background-color: red;

            } 

           @media (max-width:459px) {
                  @include header-locaisation_telephone;

                   }

                   & i {
                      width: $width-header;
                      padding: $paddin-page;
                      border-top: 1px solid;
                      background-color: $couleur-fond;
                      @media (max-width:769px) {
                            margin-left: -1em;
                           width: 109%;
                           //background-color: red;


                        } 

                     @media (max-width:459px) {
                         margin-left: -0.2em;
                         width: 99.97%;

                      }

                   }

                }
                   &_reservation {
                           margin-top: -1em;
                           margin-left: 1.3em;
                           font-size: 1em;



                           }
                            &_description {
                               padding-left: 1.3em;
                               margin-top: -1em;
                               font-size: 0.6em;



                            }
                              & a {
                                    position: absolute;
                                     margin-top: -2em;
                                     margin-left: 0.4em;

                                     }
                                       .fa-location-dot::before {
                                             margin-right: 0.3em;

                                             }

  */
}
.header img {
  padding: 15px;
  width: 30%;
  position: relative;
}
.header i {
  top: 20px;
  left: 8em;
  position: absolute;
}

.nav {
  width: 100%;
  height: auto;
  margin-top: 4em;
  font-size: 16px;
  /*  
      @include nav-bar;
         margin-top: -6em;
        background-color: $couleur-blanche;

        @media (max-width: 459px) {
              @include nabr-telephone;
              background-color: $couleur-blanche;



           }




      &_titre{

           background-color:$couleur-blanche;

           margin-top: 30em;


             @media(max-width:459px) {
              @include navbar_titre_telephone;




           }
                          @media(max-width:769px) {
                              margin-top: 6em;
                              margin-left: 1.6em;




                          }

      } 
      .fa-circle-1{
          width: 2%;
          height: 31.6px;
          padding: 0em;
          border-radius: 10em;
          margin-top: 5.8em;
          margin-left: 1.5em;
          position: absolute;
          background-color: $premier-couleur;
          color: #fff;


      }
      .fa-circle-1{
          padding-left: 0.3em;

      }
   .fa-circle-2{
      width: 2%;
      height: 31.6px;
       margin-top:14.5em;
       margin-left: 1.5em;
       padding: 0em;
      border-radius: 10em;
       position: absolute;
      background-color: $premier-couleur;
      color: #fff;


   }

   .fa-circle-2 {
        padding-left: 0.3em; 

   }
  .fa-circle-3 {
      width: 2%;
      height: 31.6px;
      margin-top: 23.5em;
      margin-left: 1.5em;
      padding: 0em;
      border-radius: 10em;
      position: absolute;
      background-color: $premier-couleur;
          color: #fff;


  }

  .fa-circle-3 {
       padding-left: 0.3em; 

  }
  @media(max-width:459px) {
      .fa-circle-1 {
              width: 5%;
              height: 22px;
              padding: 0em;
              border-radius: 10em;
              margin-top: 5.8em;
              margin-left: 2.5em;
              position: absolute;



          }

          .fa-circle-1 {
              padding-right: 0.2em;

          }

          .fa-circle-2 {
              width: 5%;
                  height: 22px;
              margin-top: 16em;
              margin-left: 2.5em;
              padding: 0em;
              border-radius: 10em;
              position: absolute;



          }

          .fa-circle-2 {
              padding-right: 0.2em;

          }

          .fa-circle-3 {
              width: 5%;
                  height: 22px;
              margin-top: 26em;
              margin-left: 2.5em;
              padding: 0em;
              border-radius: 10em;
              position: absolute;



          }

          .fa-circle-3 {
              padding-right: 0.2em;

          }

  }


           .fonction {
                  margin: $marge-header;
                  display: flex;
                  flex-direction: column;
                  margin-top: 20em;




                  @media (max-width:459px) {

                           margin-top: -20em;




                      }




                          @media (max-width:769px) {
                             margin-top: -1.6em;



                          }

               &_position{
                  text-decoration: none;
                  width: 50%;
                  height: 5em;
                  padding: 1em;
                  border-radius: $bordur-contour;
                   margin-left: 2em;
                    padding-left: 2em;
                     color: black;
                     font-weight: bold;

                  @media (max-width:459px) {
                      width: 89%;
                          height: 6em;
                          padding: 1em;
                          border-radius: $bordur-contour;
                          margin-left: 2em;
                          padding-right:9em;
                          padding-top: 2em;
                           font-size: 12px;
                          background-color:$couleur-fond;







                      }
                   @media (max-width:769px) {
                    margin-left: 3em;




                   }

                  margin-top: 4em;
                  & a{
                      @include position;





                  }



                  & i{
                    margin-right: 2em;
                    color: $premier-couleur;

                    @media (max-width: 459px) {
                      margin-right: 1em;


                    }



                  }


               }
           }
           */
}
.nav_titre {
  width: 50%;
  margin-left: 6em;
}
.nav .fonction {
  display: flex;
  flex-direction: column;
  width: 68%;
  margin-left: 7em;
  position: relative;
}
.nav .fonction_position {
  width: 70%;
  border: 2px solid;
  border-radius: 20px;
  padding: 20px;
  margin: 15px;
  background-color: #F2F2F2;
}
.nav .fonction .fa-circle-1 {
  position: absolute;
  width: 5%;
  height: 10%;
  border: 1px solid;
  border-radius: 20px;
  padding: 3px;
  margin-top: 2.1em;
  margin-left: 6px;
  background-color: #9356DC;
}
.nav .fonction .fa-circle-2 {
  position: absolute;
  width: 5%;
  height: 10%;
  border: 1px solid;
  border-radius: 20px;
  padding: 3px;
  margin-top: 8.6em;
  margin-left: 6px;
  background-color: #9356DC;
}
.nav .fonction .fa-circle-3 {
  position: absolute;
  width: 5%;
  height: 10%;
  border: 1px solid;
  border-radius: 20px;
  padding: 3px;
  margin-top: 14.5em;
  margin-left: 6px;
  background-color: #9356DC;
}
.nav .fonction .fa-duotone {
  padding-left: 7px;
}
.nav .fonction .fa-solid {
  margin-right: 20px;
}
.nav .fonction a {
  text-decoration: none;
  margin-left: 19px;
}

.haeder {
  /*
  margin-top: -1.4em;




   &_villes {

       margin: 0.2em;
       padding: 2em;

       @include annimation;
      @media (max-width:769px) {

              @include annimation_tablette;


          }


       & select {
           margin-left: 2em;
           padding: 0.3em;

           background-color: $couleur-fond;


           @media (max-width:459px) {
              & select{
                  background-color: $couleur-fond;



              }

           }

       }


       & select:hover {
           background-color: $premier-couleur;
           cursor: pointer;
           visibility: visible;

       }

   }
    */
}
.haeder_btn--commande {
  font-size: 10px;
  color: yellow;
}

.localisation {
  width: 100%;
  height: auto;
  position: relative;
  font-size: 15px;
  text-align: center;
}
.localisation_lieu {
  width: 100%;
  height: 17%;
  padding-right: 2em;
  text-align: center;
  position: absolute;
  margin-top: -1px;
  padding-top: 11px;
  border-top: 2px solid;
  background-color: #F2F2F2;
}
.localisation input {
  width: 23%;
  border: none;
  text-align: left;
  font-size: 20px;
}
.localisation i {
  padding-left: 17px;
}
.localisation_reservation {
  max-width: 60%;
  min-width: 50%;
  height: auto;
  font-size: 34px;
  margin-left: 3.9em;
  padding-top: 2em;
  line-height: 1.15;
}
.localisation_description {
  max-width: 60%;
  min-width: 50%;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.15;
  margin-left: 5em;
  padding-top: 20px;
}

.article {
  font-size: 15px;
  margin-top: 20px;
  /*


  @include article-ordi;
  @media (max-width:769px) {
           display: block;
           grid: 1em;
           grid-template-columns: repeat(2);


      }
  @media (max-width:459px) {
          @include article-telephne;


      }

  &_titre{
        padding-left: 0.5em;

  }

  .image {
      padding: 1em;

      @media(max-width:769px) {
               display: inline-block;

          }

       & img{
          @include image-img;
          @media(max-width:459px) {
                  @include article_image-img_telephone;

              }

       }
          &_noveau {
              @include nouveau-ordi;
              @media (max-width:769px) {
                       width: 13%;

                  }
              @media (max-width:459px) {
                      @include nouveau-telephone;

                  }

          }
          .description{

              background-color: $couleur-blanche;
               padding: 0.1em;
               margin-top: -0.2em;

              @media (max-width:459px) {
                      @include article_description;




              } 
          }
                        .fa-heart {
                            @include coeur;

                        }
                        .fa-heart:hover{

                            @include coeur-active;

                        }

      }
      */
}
.article_titre {
  width: 50%;
  margin-left: 6.2em;
}
.article .image {
  position: relative;
  padding: 10px;
  width: 100%;
  height: auto;
}
.article .image img {
  width: 70%;
  height: auto;
  margin-left: 6em;
  border-radius: 20px 20px 1px 1px;
}
.article .image_noveau {
  position: absolute;
  width: 14%;
  height: auto;
  left: 32em;
  top: 20px;
  text-align: center;
  background-color: aqua;
}
.article .image .description {
  width: 70%;
  height: auto;
  margin-bottom: 15px;
  margin-left: 6em;
  border: 2px solid;
  margin-top: -10px;
  padding: 5px;
  border-radius: 1px 1px 20px 20px;
  position: relative;
}
.article .image .description_titre {
  width: 70%;
  height: auto;
  position: relative;
}
.article .image .description i {
  position: absolute;
  top: 10px;
  left: 20em;
  right: 0px;
  cursor: pointer;
}
.article .image .description i:hover {
  color: green;
}

.footer {
  width: 100%;
  height: auto;
  background-color: black;
  position: relative;
  color: white;
  /*
  color: $couleur-blanche;
  margin-top: $marge-haut;
    width: 99%;
    margin-left: 0em;
    font-size: 20px;


  background-color: $couleur-noir;
  @media (max-width:459px) {
      width: 99.9%;
      margin-left: 0em;


  }


       &_menu{
          margin-left: $marge-header;


           & i{
               padding-right: 0.3em;

           }



      }
      &_logo{

          margin: $marge-header;



      }
      &_active{

          text-decoration: none;
           color:$couleur-blanche;
           margin-left: 0.7em;
      }
      & a:hover{
          background-color: $deuxiem-couleur;
      }
       .fa-handshake{
          margin-right: 0.3em;


      }
      */
}
.footer_logo {
  padding-top: 10px;
  margin: 0px 0 20px 25px;
}
.footer_menu_restau {
  margin-left: 30px;
}
.footer_menu_partenaire {
  margin-left: 30px;
}
.footer_menu_mension {
  margin-left: 32px;
}
.footer_active {
  text-decoration: none;
  margin-left: 32px;
}
.footer .fa-utensils {
  padding-right: 1em;
}
.footer .fa-handshake {
  padding-right: 9px;
}

.localisation_btn {
  margin: auto;
  width: fit-content;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 5px 15px -10px;
  border-radius: 30px;
  padding: 15px;
  margin-top: 30px;
  font-size: 10px;
  /*

    @include boutton;
  @media(max-width:459px) {
          @include boutton-telephone;

      }
                   @media(max-width:769px) {
                       @include boutton-tablette;

                   }
                   */
}

.menu {
  width: 100%;
  height: auto;
  position: relative;
}
.menu img {
  width: 70%;
  height: auto;
  margin-left: 5em;
  border-radius: 20px 20px 1px 1px;
}
.menu_nom {
  width: 100%;
  position: relative;
  margin-top: -0.8em;
}
.menu_description {
  width: 75%;
  height: auto;
  margin-left: 4em;
  text-align: left;
  padding: 25px;
  border-radius: 20px 20px 1px 1px;
  background-color: #F2F2F2;
}
.menu_aime {
  margin-left: 22em;
  margin-top: -2em;
}
.menu .entree_nos-entrees {
  width: 76%;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  position: relative;
  margin-top: 10px;
}
.menu .entree input {
  margin-left: 27em;
  margin-top: -1.9em;
  position: absolute;
}
.menu .plat_nos-plat {
  width: 76%;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  position: relative;
  margin-top: 10px;
}
.menu .plat input {
  margin-left: 27em;
  margin-top: -1.9em;
  position: absolute;
}
.menu .dessert_nos-dessert {
  width: 76%;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  position: relative;
  margin-top: 10px;
}
.menu .dessert input {
  margin-left: 27em;
  margin-top: -1.9em;
  position: absolute;
}

/*.menu{

    & img{
        @include menu-image;
        @media (max-width:769px) {
                 width: 720px;
                 margin-left: 0.2em;


            }
        @media (max-width:459px) {
                @include image-menu_telephone;


            }

    }
    .nom {
        font-size: 0.9em;
        @media (max-width:769px) {
                width: 111%; 
                margin-left: -0.4em;
            }
        &_description{
            @include nom_description_menu;
        }
        &_titre {
            margin-left: 0em;
            margin-top: 0.5em;
             font-size: 1.6em;


         @media (max-width:459px) {
                margin-left: 0em;
             } 

         }
         & h2{
            @include nom_menu_h2;

            @media (max-width:459px) {
                 @include nom_menu_h2_telephonne;

            }
         }

    }
    .fa-heart{
         margin-left: 22em;
         position: absolute;
         margin-top: -1.6em;
          /*@media(max-width:459px) {
          margin-left: 22em;
         position: absolute;
          margin-top: -1.6em;
              }  

        }*/
/*.fa-heart:hover {
         @include coeur-active;
             }
    .entree{
            transition: .3s;
            animation: menu-annimation 3s;

        &_lesEntrees{
               background-color: $couleur-fond;
                transition: .3s;
                animation: menu-annimation 3s;
                margin-top: $marge-top_menu;
                margin-bottom: $marge-botom_menu;
        }
        &_nos-entrees{
                transition: .3s;
                animation: menu-annimation 3s;

                .input{
                    @include input_entree_plat_dessert;
                }
                                 & input {
                                     @include checkebox_ordi;
                                 }
                @media (max-width:459px) {
                   .input{
                     @include input_entrer_plat_desser_telephone;
                   }
                                        & input {
                                            @include checkebox_telephone;
                                        }

                }

                .prix {
                        @include prix_entree_plat_dessert;
                    }

                    @include entre_plat_dessert;
                    @media (max-width:459px) {
                        @include entree_plat_dessert_telephone;

                    }


            }
        }

    }
            .plat {
                 transition: .3s;
                 animation: menu-annimation 6s;
                 //background-color: red;

                &_leplat {
                     background-color: $couleur-fond;
                     transition: .3s;
                     animation: menu-annimation 6s;
                     margin-top: $marge-top_menu;
                     margin-bottom: $marge-botom_menu;
                    // @include titre_menu_plat_dessert;



                  }

                &_nos-plat {

                        transition: .3s;
                        animation: menu-annimation 6s;
                        .input {
                                @include input_entree_plat_dessert;
                            }
                             & input{
                                @include checkebox_ordi;
                             }

                            @media (max-width:459px) {
                                .input {
                                    @include input_entrer_plat_desser_telephone;
                                }
                                                                 & input {
                                                                     @include checkebox_telephone;
                                                                 }

                            }

                        .prix {
                             @include prix_entree_plat_dessert;
                             }
                             @include entre_plat_dessert;
                              @media (max-width:459px) {
                                      @include entree_plat_dessert_telephone;

                                     }

                         }
             }
            .dessert {
                    font-size: 1em;
                   // background-color: yellow;

                     &_les-dessert {
                         background-color: $couleur-fond;
                         margin-top: $marge-top_menu;
                         margin-bottom: $marge-botom_menu;
                         transition: .3s;
                         animation: menu-annimation 9s;
                         // @include titre_menu_plat_dessert;
                        //@include titre_menu_plat_dessert;


                         }

                     &_nos-dessert {
                         transition: .3s;
                         animation: menu-annimation 9s;
                        .input {
                                @include input_entree_plat_dessert;
                            }
                                                         & input {
                                                             @include checkebox_ordi;
                                                         }


                            @media (max-width:459px) {
                                .input {
                                    @include input_entrer_plat_desser_telephone;
                                }
                                                                 & input {
                                                                     @include checkebox_telephone;
                                                                 }

                            }
                        .prix {
                               @include prix_entree_plat_dessert;
                             }
                             @include entre_plat_dessert;
                                 @media (max-width:459px) {
                                      @include entree_plat_dessert_telephone;

                                      }
                        }
                    }

*/
.contact {
  font-size: 17px;
  line-height: 1.5em;
}

/*# sourceMappingURL=style.css.map */
