@mixin nombre_nav {
    position: absolute;
    width: 10%;
    height: 10.5%;
    border-radius: $bordur-contour;
    padding: 3px;
    background-color: $premier-couleur;
    color: $couleur-blanche;
}
@mixin nombre_nav_tablette {
    width: 5%;
    height: 9%; 
}
@mixin nombre_nav_ordinateur {
    width: 2%;
    height: 20%;
    margin-top: 59px;
    padding-top: 0px;
    left: 53em;
    padding: 10px;
}

//menu
@mixin menu_entree_plat_dessert {
    width: 95%;
    height: 99px;
    border-radius: 20px;
    padding: 30px;
    font-size: 15px;
    position: relative;
    margin: 10px;
    cursor: pointer;
}
@mixin menu_input {
    width: 18%;
    height: 100%;
    margin-left: 19em;
    position: absolute;
    top: -0em;
    padding: 24px;
    border-radius: 1px 15px 15px 1px;
    cursor: pointer;
}
//menu
@mixin nos_entrees_nosplats_nos_desser_hover-center  {
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@mixin animation_menu_h3_p {
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
//annimation du menu
@keyframes menu-annimation {
    from {
        transform: translateY(300px);
        opacity: 0;

    }

    to {
        transform: translateY(0);
        opacity: 0.1;

    }
}
 @keyframes rotate {
    0% {
        right: 0px;
        margin-right: -40px;
        transform: rotate(0deg);
    }

    100% {
        right: 40px;
        margin-right: -40px;
        transform: rotate(0deg);
    }
} 
@keyframes translate {
    0% {
        margin-right: -45px;
    }

    100% {
        margin-right: 0px;
    }
}
@keyframes cut {
    0% {
        width: 240px;
    }

    100% {
        width: 400px;
    }
}
@keyframes rotate-out {
    0% {
        margin-right: -20px;
        right: 40px;
    }

    100% {
        margin-right: -45px;
        right: 0px;
    }
}

@keyframes translate-out {
    0% {
        margin-right: 0px;
    }

    100% {
        margin-right: -45px;
    }
}
@keyframes uncut {
    0% {
        width: 190px;
    }

    100% {
        width: 250px;
    }
}

 