$premier-couleur:#9356DC;
$deuxiem-couleur:#FF79DA;
$troisiem-couleur:#99E2D0;
$couleur-blanche:#fff;
$couleur-fond:#F2F2F2;
$colour-verte:#6be36b;
$couleur-aime:#663399;
$couleur-boutton:#DA70D6;
$couleur-noir:#000000;
$coleur-ver_fonce:#006400;

 

$bordur-contour: 20px;


$btn_background:linear-gradient(#ff79da, #9356dc);
$btn_background_hover:linear-gradient(#ff79da, #ff79da, #9356dc);
$btn_box-shadow:0px 5px 15px -10px;
$btn_box-shadow_hover:0px 10px 25px -10px;

$background-color_general:rgb(235, 235, 235);
$background-color_checkbox: #99e2d0;


$section_box-shadox:inset 0 5px 10px -10px;


$width_cent:100%;
 
$width_menu_entree_plat_dessert :119%;
$height_menu_entree_plat_dessert:45em;

$border-raduis_article_image:20px 20px 1px 1px;

 
 