 .article{
    width: 99.6%;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 0px;
    background-color: $couleur-fond;
     
      
    &_titre{
        width: 50%;
        margin-left: 25px;
        padding-top: 45px;
         
        
         
      
    }
    .image{
        position: relative;
        padding: 10px;
        width: 100%;
        margin-top: 15px;
        height: auto;
         
      
         
        & img{
            width: 95%;
            height: 190px;
            margin-left: 8px;
            border-radius:$border-raduis_article_image;
             
             
        }
         &_noveau{
            position: absolute;
            width: 27%;
            height: 12%;
            left: 230px;
            top: 22px;
            padding: 0px;
            border-radius: 3px;
            text-align: center;
            font-size: 20px;
            color:$coleur-ver_fonce;
            background-color:$background-color_checkbox;
            
             
            
      
        }
        .description {
            width: 96%;
            height: auto;
            margin-bottom: 15px;
            margin-left: 6px;
            border: 2px solid $couleur-fond;
            margin-top: -10px;
            padding: 5px;
            font-size: 16px;
            border-radius: 1px 1px 20px 20px;
            background-color: rgb(245, 245, 245);
            background-color: $couleur-blanche;
            position: relative;
            font-family: "Shrikhand", sans-serif;
            font-weight: bold;
            font-style: normal;
             
             
            
             
             
             
            &_titre{
                width: 70%;
                height: auto;
                padding-left: 10px;
                position: relative;
               font-family: "Roboto", sans-serif;
               font-weight: bold;
               
            }
            &_lieu{
                padding-left: 12px;
                font-weight: 100;
                
                
            }
            .fa-regular{
                position: absolute;
                top: 10px;
                left: 15em;
                right: 0px;
                cursor: pointer; 
                width: 18px;
                height: 20px;
               border-radius: 150px 150px 200px 200px;
             

                    
                     
                 
                 
                 
            }
            .fa-regular::before{
                font-size: 14px;
                
            }
            .fa-regular:hover{
                  
                background-color: $couleur-aime;
                color: $premier-couleur;
                 
                
            }
               
        }
        
    }
          
  
}
 

    /*medias queries version tablette*/

@media only screen and (min-width:763px) {
    .article{   
        margin-top: 45px;
        margin-left: 0px;
        width: 100%;
         
          
        &_titre {
            margin-left: 260px;
             
        }
        .image {
             
                                    
           & img {
                width: 50%;
                margin-left: 250px;

            }
            &_noveau {
                width: 11%;
                 left: 30em;
            }
            .description {
                width: 50.4%;
                margin-left: 15.5em;
                 
                
               
                 
                
                
                 
                
                                  
                
                .fa-regular {
                    left: 27em;
                }
            }
        }
    }
    
    
}


 /*version ordinateur*/

@media only screen and (min-width:992px) {
    .article {
        width:$width_cent;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        margin-top: -17em;
         
       
        

        &_titre {
        
           margin-left: 8em;
           margin-top: 2em;
        }
        .image {
            width: 50%;
            margin-top: 2em;
            margin-left: -2em;
            
            
                     
            & img {
                width: 60%;
                height: 250px;
                margin-left: 185px;
            }
        
            &_noveau {
                width: 13%;
                left: 26em;
            }
        
            .description {
                width: 60.6%;
                margin-left: 11.4em;
               
                
                
                 
                 
                .fa-regular {
                    left: 25em;
                }
        
            }
        
        }
    }
                       
}
        
                  