.footer{
    width: 100%;
    height: auto;
    background-color: rgb(50 50 50);
    position: relative;
    color: white;
    margin-top: 30px;
    &_logo{

          
         padding-top: 10px;
         margin: 0px 0 20px 25px;

    }
    
    &_menu_restau{
        margin-left: 30px;
         
    }
    &_menu_partenaire{
        margin-left: 30px;
        
    }
    &_menu_mension{
        margin-left: 32px;
    }
    &_active{
        text-decoration: none;
        margin-left: 32px;
        color: #fff;
    }
    .fa-utensils{
        padding-right: 1em;
         
    }
    .fa-handshake{
        padding-right: 9px;
        
    }
    /*
    color: $couleur-blanche;
    margin-top: $marge-haut;
      width: 99%;
      margin-left: 0em;
      font-size: 20px;
       
     
    background-color: $couleur-noir;
    @media (max-width:459px) {
        width: 99.9%;
        margin-left: 0em;
         
        
    }
     
     
         &_menu{
            margin-left: $marge-header;
             
            
             & i{
                 padding-right: 0.3em;
                
             }
             
         
             
        }
        &_logo{
             
            margin: $marge-header;
             
            
             
        }
        &_active{
             
            text-decoration: none;
             color:$couleur-blanche;
             margin-left: 0.7em;
        }
        & a:hover{
            background-color: $deuxiem-couleur;
        }
         .fa-handshake{
            margin-right: 0.3em;
             
             
        }
        */
        
     
}
  