.footer{
    width: 100%;
    height: auto;
    background-color: rgb(50 50 50);
    position:relative;
    color: white;
    margin-top: 0px;
    font-size: 16px;
    &_logo{
        padding-top: 10px;
        margin: 0px 0 20px 25px;
    }
    
    &_menu_restau{
        margin-left: 30px;
         
    }
    &_menu_partenaire{
        margin-left: 30px;
        
    }
    &_menu_mension{
        margin-left: 32px;
    }
    &_active{
        text-decoration: none;
        margin-left: 32px;
        color: #fff;
    }
    .fa-utensils{
        padding-right: 1em;
         
    }
    .fa-handshake{
        padding-right: 9px;
        
    }

 
     
}
/*
@media only screen and (max-width:463px) {
    .footer {
        
        margin-top: 1em;
         
    }

}
*/
 

   /*medias queries verstion tablette*/
@media only screen and (min-width:992px) {
    .footer {
        margin-top: 1px;
        padding-bottom: 10px;
        &_logo {
        
         padding-left: 46px;
                
        }
        
        &_menu_restau {
            padding-left: 46px;
        }
        
        &_menu_partenaire {
            padding-left: 46px;
        }
        
        &_menu_mension {
            margin-left: 77px;
                 
        }
        
        &_active {
            text-decoration: none;
            margin-left: 77px;
            color: #fff;
       }
        
        .fa-utensils {
            padding-right: 1em;
        }
        
        .fa-handshake {
            padding-right: 9px;
        }
         
    }


}
  