  .form{
    &_btn{
        margin: auto;
            width: fit-content;
             background: linear-gradient(#ff79da, #9356dc);
            box-shadow: 0px 5px 15px -10px;
            border-radius: 30px;
            padding: 19px;
            margin-top: 45px;
            font-size: 20px;
            border: none;
            margin-left: 8em;
            color: #fff;
    }
     
       
      
  }
     
    /*
    margin-top: -1.4em;
     
     
    
      
     &_villes {

         margin: 0.2em;
         padding: 2em;
          
         @include annimation;
        @media (max-width:769px) {
                
                @include annimation_tablette;
        
        
            }
 

         & select {
             margin-left: 2em;
             padding: 0.3em;

             background-color: $couleur-fond;
              
             
             @media (max-width:459px) {
                & select{
                    background-color: $couleur-fond;
                     
                     
                     
                }
                
             }

         }
              

         & select:hover {
             background-color: $premier-couleur;
             cursor: pointer;
             visibility: visible;

         }
        
     }
      */


 
  
 