 
.header{
   width: 120%;
   height: auto;
   position: relative;
   font-size: 15px;
   text-align: center;
    margin-left: 0px;
    
   
   
    
      
   & img{
      padding: 15px;
      width: 50%;
       text-align: center;

      position: relative;
          
         
   }
   & i{
         top: 19px;
         left: 6em;
         position: absolute;
         color: black;
         font-weight: bold;
         width: 6%;
         padding: 10px;
          
         
      }
  
      
}
/*
@media only screen and (max-width:463px) {
   .header {
       
          
      & img {
         width: 50%;
         left: 8px;
         position: relative;
         
      }
      & i {
         top:13px;
          left: 2em;
      
       }
      
   }
      
      
}*/
   /*les medias queries*/
@media only screen and (min-width:763px) {
   .header{
      width: 99.7%;
      
      & img {
         width: 25%;
         right: 20px;
      
      }
       
       
      & i {
         left: 16em;
      }
             
   }
}


   /*medias queris version orditeur*/
@media only screen and (min-width:992px) {
   .header{
       
      width: 100%;
       
      
             
      & img {
         width: 25%;
         right: 20px;
      
      }
            
      & i {
          left: 18em;
          top: 27px;    
      }

   }
   
 }
   
       
 
 