 
.header{
   width: $width_cent;
   height: auto;
   position: relative;
   font-size: 15px;
   text-align: center;
   margin-left: 0px;
   & img{
      padding: 15px;
      width: 48%;
      text-align: center;
      margin-left: 10px;
      position: relative;
   }
   & i{
         top: 10px;
         left: 2em;
         position: absolute;
         color:$couleur-noir;
         font-weight: bold;
         width: 6%;
         padding: 10px;
          
         
      }
   i::before{
      font-size: 20px;
   }
}
 
   /*les medias queries*/
@media only screen and (min-width:768px) {
   .header{
      width: 99.8%;
      & img {
         width: 25%;
         right: 8px;
      }
       
       
      & i {
         left: 16em;
      }
             
   }
}


   /*medias queris version orditeur*/
@media only screen and (min-width:992px) {
   .header{
      width: $width_cent;
      & img {
         width: 25%;
         right: 20px;
      
      }
            
      & i {
         left: 18em;
         top: 27px;    
      }

   }
   
 }
   
       
 
 