.nav{
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: 16px;
     
     
    
     
    &_titre{
        width: 50%;
         margin-left: 7.9em;
    }
    .fonction{
        display: flex;
        flex-direction: column;
        width: 68%;
        margin-left: 10em;
        position: relative;
        font-size: 14px;
        &_position{
            width: 77%;
            border-radius: $bordur-contour;
            padding: 28px;
            margin: 17px;
            background-color: rgb(235, 235, 235);
            box-shadow: 0 15px 10px -10px rgb(207, 205, 207);
                
        }
        .fa-circle-1{
                
            position: absolute;
            width: 6%;
            height: 9%;
            border-radius: $bordur-contour;
            padding: 3px;
            margin-top: 44px;
            margin-left: 20px;
            background-color: $premier-couleur;
            color: #fff;
        }
        .fa-circle-2 {
            
            position: absolute;
            width: 6%;
            height: 9%;
            border-radius: $bordur-contour;
            padding: 3px;
            margin-top: 156px;
            margin-left: 20px;
            background-color: $premier-couleur;
            color:#fff;
        }
        .fa-circle-3 {
        
            position: absolute;
            width: 6%;
            height: 9%;
            border-radius: $bordur-contour;
            padding: 3px;
            margin-top: 19.4em;
            margin-left: 20px;
            background-color: $premier-couleur;
            color:#fff;
        }
        .fa-duotone{
            padding-left: 7px;
        }
        .fa-solid{
            margin-right: 20px;
        }
        & a{
            text-decoration: none;
            margin-left: 2em;
            padding-left:  3em;
            font-weight: bold;
            color: black;
        }
        .fa-solid{
        color: gray;
        }
        .fa-solid:hover{
        color: $premier-couleur;
        }
        
    }

     
}
@media only screen and (max-width:463px) {
    .nav {
        &_titre {
            margin-left: 29px;
              
        }

        .fonction {
            width: auto;
            margin-left: 0;
            
            &_position {
                width: 86%;
            }
            .fa-circle-1 {
                width: 8%;
                height: 9.5%;
                margin-left: 10px;
                padding-left: 10px;
            }
            .fa-circle-2 {
                width: 8%;
                 height: 9.5%;
                 margin-left: 10px;
                padding-left: 10px;
            }
            .fa-circle-3 {
                width: 8%;
                height: 9.5%;
                margin-left: 10px;
                padding-left: 10px;
            }
        }

    }
}

/*medias queries version tablette*/
 @media only screen and (min-width:763px) {
     .nav {
        margin-top: -10px;
          
        &_titre {
            margin-left: 10.3em;
        }
        
        .fonction {
            font-size: 18px;
            &_position {
                padding:30px;
            }
        
            .fa-circle-1 {
                width: 5%;
                height: 9.8%;
            }
        
            .fa-circle-2 {
                width: 5%;
                height: 9.8%;
                margin-top: 168px;
               
            }
        
            .fa-circle-3 {
                width: 5%;
                height: 9.8%;
                margin-top: 16.2em;  
            }
 
        }
    }
}



 /*medias queris version orditeur*/
 @media only screen and (min-width:992px) {
     .nav {
          width:100%;
          margin-left: 0px;
          position: relative;
          
         
        &_titre {
           margin-left: 30px;
        }

        .fonction {
            font-size: 18px;
            width: 99%;
            margin-left: 14px;
            display: flex;
            flex-direction: row;
            position: relative;
            
             
           
             
            
            
            &_position {
                
                width: 99%;
                height: 99px;
                padding: 35px;
            
          
            }
            

            .fa-circle-1 {
                width: 2%;
                height: 25%;
                margin-top: 48px;
                padding-top: 0px;
                left: -27px;
                position: absolute;
                padding: 10px;
            

            }

            .fa-circle-2 {
                width: 2%;
                height: 25%;
                left: 26.5em;
                padding-top: 0px;
                position: absolute;
                margin-top: 48px;
                padding: 10px;
            
            }

            .fa-circle-3 {
                width: 2%;
                height: 25%;
                margin-top: 45px;
                padding-top: 0px;
                left:54.3em ;
                padding: 10px;
            }
            
            .fa-duotone {
                 position: absolute;
                  padding-top: 0px;
                   padding-left: 7px;
                
                 
            } 
        
            .fa-solid {
                margin-right: 10px;
                
            }
        
            & a {
                 
                margin-left:  0;
                
            }
    

        }

    }

}
  

 